$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$gray: #393e46;
$gray-light: #6a727f;
$gray-dark: #282f3a;
$gray-darker: #252b36;
$blue-color: #4944f2;
$gray-lighter: #f7f8f9;
$black: #000000;


body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

#menu {
    position: absolute;
    right: 0;
    z-index: 999;
    background: white;
    height: 100%;
    width: 300px;
    display: none;
    &.is-active {
        display: block;
    }
    ion-icon.md.hydrated {
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .menu-list {
        list-style: none;
        height: 100%;
        padding: 70px 20px 20px;
        li {
            margin-bottom: 15px;
            a {
                display: block;
                padding: 15px;
                text-transform: capitalize;
                color: #393e46;
                border-radius: 6px;
                transition: all 0.15s linear;
                font-family: $secondary-font;
                text-decoration: none;
                font-size: 16px;
                line-height: 1.5;
                &:hover {
                    color: white;
                    background-color: #4944f2;
                }
            }
        }
    }
}

.back-to-top {
    position: fixed;
    bottom: 70px;
    right: 70px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.5rem;
    z-index: 99;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding: 0 0 200px 0;
}

.btn--primary {
    background: $blue-color;
    color: white;
    padding: 19px 70px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    font-family: $primary-font;
    display: inline-flex;
}

.btn {
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: $primary-font;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 6px;
}

.btn--secondary {
    background-color: transparent;
    background-image: linear-gradient(to right, #f475a0, #feac3d);
}

::-webkit-input-placeholder { /* Edge */
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-family: $primary-font;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-family: $primary-font;
  }
  
  ::placeholder {
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-family: $primary-font;
  }

  input, textarea, select, button  {
      border: none;
      outline: none;
  }